{{#each this}}
    <div class='text-green-500 hover:underline hover:text-green-700'><a href="/{{ this.c_slug }}">{{ this.name }} - {{this.address.line1}} {{this.address.postalCode}}</a></div>
{{/each}}