<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{name}} - Home Page</title>

     <!-- Answers CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://assets.sitescdn.net/answers/v1/answers.css"
    />

    <style>
      .answers-layout {
        max-width: 50rem;
        margin: auto;
      }
    </style>

    <script src="https://assets.sitescdn.net/answers/v1/answers.min.js"></script>

    
  </head>
    <body>
        <script src="/index.bundle.js"></script> 

        {{>header}}

        <div class='title bg-gray-50 pt-6 pb-6 border-b-8 border-green-400'> 
          <h1 class='text-9xl font-extralight text-blue-900  ml-6'> Welcome to New York's premier business bank.
          </h1>
        </div>

        <div class="answers-layout mx-auto my-16">
          <div class="search-bar"></div>
          <div class="spell-check"></div>
          <div class="direct-answer"></div>
          <div class="universal-results"></div>
          <div class="location-bias"></div>
        </div>

        <script>
          ANSWERS.init({
            apiKey: "a381bbbc78e07a078cabe52f321c62eb",  //sample test experience
            experienceKey: "dime_answers_experience_-_frontend_test",  //sample test experience
            businessId: "3179813",  //sample test experience
            experienceVersion: "PRODUCTION",
            onReady: function () {
              // init components
              this.addComponent("SearchBar", {
                container: ".search-bar"
              });
              this.addComponent("SpellCheck", {
                container: ".spell-check"
              });
              this.addComponent("DirectAnswer", {
                container: ".direct-answer"
              });
              this.addComponent("UniversalResults", {
                container: ".universal-results"
              });
              this.addComponent("LocationBias", {
                container: ".location-bias"
              });
            }
          });
    </script>


        <div class="container mx-auto px-32">
          <div class='mt-6  flex'> 
            <div class='other-locations pr-32'>
              <h4 class='text-2xl font-bold mb-4'>We're Located in the Following States</h4>
              <div class="grid grid-flow-row auto-rows-max">
                    {{#each c_children}}
                        <div class='text-green-500 hover:underline hover:text-green-700'><a href="/{{ this.c_slug }}">{{ this.name }}</a></div>
                    {{/each}}
            </div>
          </div>
        </div>
      </div>
    </body> 
    {{>footer}}
</html>