---
{
     "urlFormat": "index.html"
}
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{global.name}} - Home Page</title>


     <!-- Answers CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://assets.sitescdn.net/answers/v1/answers.css"
    />

    <style>
      .answers-layout {
        max-width: 50rem;
        margin: auto;
      }
    </style>

    <script src="https://assets.sitescdn.net/answers/v1/answers.min.js"></script>

    
  </head>
    <body>

        <div> 
          <h1> Welcome to New York's premier business bank. STATIC PAGE BABY
          </h1>
        </div>

        <div class="answers-layout mx-auto my-16">
          <div class="search-bar"></div>
          <div class="spell-check"></div>
          <div class="direct-answer"></div>
          <div class="universal-results"></div>
          <div class="location-bias"></div>
        </div>

        <script>
          ANSWERS.init({
            apiKey: "a381bbbc78e07a078cabe52f321c62eb",  //sample test experience
            experienceKey: "dime_answers_experience_-_frontend_test",  //sample test experience
            businessId: "3179813",  //sample test experience
            experienceVersion: "PRODUCTION",
            onReady: function () {
              // init components
              this.addComponent("SearchBar", {
                container: ".search-bar"
              });
              this.addComponent("SpellCheck", {
                container: ".spell-check"
              });
              this.addComponent("DirectAnswer", {
                container: ".direct-answer"
              });
              this.addComponent("UniversalResults", {
                container: ".universal-results"
              });
              this.addComponent("LocationBias", {
                container: ".location-bias"
              });
            }
          });
    </script>

    </body> 

</html>