<div class="pt-12">
    <footer id="footer" class="relative z-50 dark:bg-gray-900">
        <div class="border-t border-b border-gray-200 dark:border-gray-700 py-16">
            <div class="mx-auto container px-4 xl:px-12 2xl:px-4">
                <div class="lg:flex">
                    <div class="w-full lg:w-1/2 mb-16 lg:mb-0 flex">
                        <div class="w-full lg:w-1/2 px-6">
                            <ul>
                                <li><a class="text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="#">Business Banking</a></li>
                                <li class="mt-6"><a class="text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="#">Commercial Banking</a></li>
                                <li class="mt-6"><a class="text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="#">Personal Banking</a></li>
                            </ul>
                        </div>
                        <div class="w-full lg:w-1/2 px-6">
                            <ul>
                                <li><a class="text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="#">Investor Relations</a></li>
                                <li class="mt-6"><a class="text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 flex">
                        <div class="w-full lg:w-1/2 px-6">
                            <ul>
                                <li><a href="#" class="text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50">Careers</a></li>
                                <li class="mt-6"><a class="text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="#">Find a Branch</a></li>
                            </ul>
                        </div>
                    <div class="w-full lg:w-1/2 flex">
                        <div class="w-full lg:w-1/2 px-6">
                            <ul>
                                <li>Routing Number</li>
                                <li class="mt-6"><a class="text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="#">021406667</a></li>
                            </ul>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-16 flex flex-col justify-center items-center">
                  <a href="#"><img class='object-contain h-20' src='https://a.mktgcdn.com/p/eEScuRbWJ_wg43YUVTraB3vfeDDbSEZC2aFGjwBLG7w/316x316.png'></a>
            <p class="mt-6 text-xs lg:text-sm leading-none text-gray-900 dark:text-gray-50">2021 Gideon Frontend SMEs LLC. All Rights Reserved.</p>
        </div>
    </footer>
</div>
