<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <!-- Answers CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://assets.sitescdn.net/answers/v1/answers.css"
    />

    <!-- Answers Layout styling -->
    <style>
      .answers-layout {
        max-width: 50rem;
        margin: auto;
      }
    </style>

    <!-- Answers JS-->
    <script src="https://assets.sitescdn.net/answers/v1/answers.min.js"></script>
    
  </head>
    <body>
        <script src="/index.bundle.js"></script> 
        {{>header}}

        <div class='title bg-blue-900 pt-6 pb-6 border-b-8 border-green-400'> 
          <h1 class='text-5xl  font-extralight text-white ml-6'> Welcome to {{name}}</h1>
        </div>
        
        <div class="answers-layout">
          <div class="search-bar"></div>
          <div class="spell-check"></div>
          <div class="direct-answer"></div>
          <div class="universal-results"></div>
          <div class="location-bias"></div>
        </div>

         <script>
      ANSWERS.init({
        apiKey: "3517add824e992916861b76e456724d9",  //sample test experience
        experienceKey: "answers-js-docs",  //sample test experience
        businessId: "3215760",  //sample test experience
        experienceVersion: "PRODUCTION",
        onReady: function () {
          // init components
          this.addComponent("SearchBar", {
            container: ".search-bar"
          });
          this.addComponent("SpellCheck", {
            container: ".spell-check"
          });
          this.addComponent("DirectAnswer", {
            container: ".direct-answer"
          });
          this.addComponent("UniversalResults", {
            container: ".universal-results"
          });
          this.addComponent("LocationBias", {
            container: ".location-bias"
          });
        }
      });
    </script>





    </body> 
</html>
