---
{
     "urlFormat": "static.html"
}

---
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Page Test</title>
     {{>head}}
    
  </head>

  <body> 

      {{>navbar}}
      <h1>I'm a static page</h1>
      {{>footer}}
  </body>    
</html>