@tailwind base;
@tailwind components;
@tailwind utilities;


/* Header CSS */
.header{
    background-color: #003a70;
}

.title{
    background-color: #003a70;
}

/* Index CSS */
.index-city-list.list-disc {
    margin-left: 50px;
}


/* Footer CSS */
.footer {
    background-color: #003a70;
}
.footer-list.text-l{
    color: white;
}
.mt-6.text-s{
    color: white;
}