@tailwind base;
@tailwind components;
@tailwind utilities;


/* Header CSS */
/* .header{
    background-color: #003a70;
} */




/* Index CSS */
.index-city-list.list-disc {
    margin-left: 50px;
    list-style-type: none;
}

.branch-services-list.list-disc {
    margin-left: 3rem;
    /* list-style-type: none; */
}

.city-children-list.list-disc {
    margin-left: 3rem;
    /* list-style-type: none; */
}

.state-children-list.list-disc {
    margin-left: 3rem;
    /* list-style-type: none; */
}

.mt-6 {
    margin-bottom: 1.5rem;
}

/* Footer CSS */
.footer {
    background-color: #003a70;
}
.footer-list.text-l{
    color: white;
}
.mt-6.text-s{
    color: white;
}